<%-include ('./Header.ejs') %>
<body>
   <section>
    <div class="container">
        <div class="row">
            <% if (locals.data) { %>
                
                <% data.forEach(element => { %>
                    
                    <div class="col-lg-3 mt-4">
                   
                         <div class="book_card ">
                            <div class="book_img">
                                <a href=<%= element.website%>>    <img src=<%= element.image%> alt="image" class="img-fluid">
                            </div>
                        </a>
                            <div class="title ">
                               <b>Title:</b> <%= element.title%>
                            </div>
                            <div class="subtitle">
                                <b>Subtitle:</b>  <%= element.subtitle%>
                            </div>
                            <div class="author">
                                <b>Author:</b>  <%= element.author%>
                            </div>
                            <div class="publisher">
                                <b>Publisher:</b> <%= element.publisher%>
                            </div>
                            <div class="pages">
                                <b>Pages:</b><%= element.pages%>
                            </div>
                            <div class="website">
                             
                            </div>
                        </div>
        
                    </div>
                  <% }); %>
              
              <% } %>
         
        </div>
    </div>
   </section>
   
</body>
</html>